* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

html,
body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-color: #171717;

}

ul {
    list-style: none;
}

li {
    list-style: none;
    margin: .5em;
}

#main {
    position: relative;
    z-index: 2;

}

.header {
    padding: 1em;
    border: 2px solid white;
    background-color: #171717;
    margin-top: 5vmin;
}

.header-text {
    text-align: left;
    font-variant-caps: all-small-caps;
    font-size: 4em;
}

.subheader {
    text-align: left;
    font-variant-caps: all-small-caps;

}

.section {
    padding: 1em;
    margin-top: 3vmin;
    border: 2px solid white;
    background-color: #171717;
}

.section h5 {
    font-variant-caps: all-small-caps;
}

.section li {
    font-size: 1em;
}

.footer {
    padding: 1em;
    margin-top: 3vmin;
    border: 2px solid white;
    background-color: #171717;
}

.footer p {
    font-size: .8em;
}

#submit {
    background-color: white;
    color: #171717;
}

#particles-js {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #171717;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
}


/* Zoom Entry */
/* #particles-js canvas {
    animation-name: appear;
     animation-duration: 1.4s;
     animation-fill-mode: forwards;
 }
 
 @keyframes appear {
   from {
     transform: scale(0);
     opacity: 0;
   }
   to {
     transform: scale(1);
     opacity: 1;
   }
 } */