* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

ul {
    list-style: none;
}
li {
    margin: .5em;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#content {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #171717;
}

.header {
    position: absolute;
    padding: 2em;
    border: 2px solid white;
    background-color: #171717;
    block-size: fit-content;
    width: fit-content;
    left: 10vmin;
    top: 15vmin;
    z-index: 1000;
}

.header-text {
    position: relative;
    text-align: left;
    font-size: 8vmin;
    font-variant-caps: all-small-caps;
}

.subheader {
    font-size: 3vmin;
    text-align: left;
    font-variant-caps: all-small-caps;

}

.section {
    position: absolute;
    padding: 2rem;
    border: 2px solid white;
    background-color: #171717;
    block-size: fit-content;
    width: fit-content;
    font-size: 1.5vmin;
    
    z-index: 1000;
}
.section p {
    font-variant-caps: all-small-caps;
    font-size: 2vmin;
}

.section-1 {
    left: 10vmin;
    top: 36vmin;
}
.section-2 {
    left: 43vmin;
    top: 36vmin;
}

.section-3 {
    left: 10vmin;
    top: 60vmin;
}

#submit {
    background-color: white;
    color:#171717;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #171717;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


/* Zoom Entry */
/* #particles-js canvas {
    animation-name: appear;
     animation-duration: 1.4s;
     animation-fill-mode: forwards;
 }
 
 @keyframes appear {
   from {
     transform: scale(0);
     opacity: 0;
   }
   to {
     transform: scale(1);
     opacity: 1;
   }
 } */